apiVersion: apps/v1
kind: Deployment
# --- Everything below this comment is the same as a deployment ---
metadata:
  name: example-rollout
spec:
  replicas: 1
  selector:
    matchLabels:
     app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.15.4
    ports:
    - containerPort: 80
  minReadySeconds: 30
  revisionHistoryLimit: 3
 
