apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-rolling
  label:
    app: test
spec:
    replica: 4
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 3 
        maxSerge: 4
   selector:
     matchLabels:
      app: test
   template:
     metadata:
       labels:
         app: test
    spec:
      containers:
      - name: test
        image: echo       
        ports:
        - containerPort: 80
        readinessProbe: 
          periodSeconds: 1 
          httpGet: 
            path: / 
            port: 80
